# Python Tutorial 1: Fundamentals

## Greeting

In [1]:
print("Hello Mars!")

Hello Mars!

## Storing Data in Variables

In [2]:
#The data is stored in the memory and accessed by calling the variable

x = 5
x

5

In [3]:
#What happens when you assign new data to an existing variable?

x = 5
x = 4

x

4

In [4]:
#You can perform operations using the existing variables

x + x

8

In [5]:
y = 3

abs(y - x)

1

In [6]:
max(y, x)

4

In [2]:
#A variableâ€™s name can begin only with a letter or _ but it can also contain numbers

9Xdk = 5

SyntaxError: invalid syntax (1308524231.py, line 3)

In [8]:
_AA98 = 5

_AA98

5

In [9]:
#Variable names are case-sensitive

a = 4

A

NameError: name 'A' is not defined

In [10]:
#Booleans

x = 1 > 2

x

False

In [11]:
y = True

y

True

In [12]:
#In math, True is converted to 1, and False is converted to 0

x + y

1

In [13]:
type(x), type(y)

(bool, bool)

In [14]:
#Integers

x = 4

type(x)

int

In [15]:
#Floats

x = 3.2
type(x)

float

In [17]:
#Integers are naturally converted to floats

y = 3
type(x / y)

float

In [18]:
#Strings

x = "Hello Micro!"
type(x)

str

In [19]:
#You can concatenate strings using +

y = " Meet you at 16:00."

x + y

'Hello Micro! Meet you at 16:00.'

In [20]:
#Can we add a string to an integer?

x = 4
y = "5"

x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Practice Set 1

In [1]:
#Create a variable x that contains your age and print ``My age is x"

x = 94

print("My age is", x)

My age is 94

In [2]:
#What would the following code return?

x = 1 > 2
y = True
z = x > y

z

False

In [3]:
#Write a code that prints ``I am hungry" 10 times

statement = "I am hungry! "
statement*10

'I am hungry! I am hungry! I am hungry! I am hungry! I am hungry! I am hungry! I am hungry! I am hungry! I am hungry! I am hungry! '

In [4]:
#Assign different float values to five variables and find their minimum

a, b, c, d, e = 3.2, 4.5, 9.2, -11.0, 6.8457834
min(a, b, c, d, e)

-11.0

## Built-In Functions

In [26]:
#int()

a = "5"
b = int(a)

type(a), type(b)

(str, int)

In [27]:
#str()

a = 12.3
b = str(a)

b

'12.3'

In [1]:
#range()

x = range(1, 10, 2)
x

range(1, 10, 2)

In [29]:
#sum()

sum(range(1, 10, 2))

25

In [30]:
#len()

x = [5, 4] #Later we will talk more about lists
len(x)

2

In [31]:
#dir()

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
#help()

help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

## Defining Functions

In [34]:
#The basic synatx

def our_function(x, y):
    return 2*x - y

In [35]:
our_function(5, 8)

2

In [36]:
#The function may contain no arguments

def say_it():
    return "I can't believe I have no arguments!"

say_it()

"I can't believe I have no arguments!"

In [90]:
#Python uses four spaces as default indentation. However, one space is enough

def make_me_a_string(integer):
 return str(integer)

make_me_a_string(5)

'5'

In [38]:
#The function's name should be short but informative

def in_this_function_I_wish_to_return_the_sum_of_two_numbers(x, y):
    return x + y

def f(x, y):
    return x + y

def sum_of_two(x, y):
    return x + y

In [39]:
#Arguments that have default values are called keyword arguments

def f(x, a = -4, b = 3):
    return a + b*x

f(2)

2

In [40]:
#When calling the function, you can change their value

f(2, a = 1, b = 1)

3

In [41]:
#Changing their position does not affect the outcome

f(2, b = 1, a = 1)

3

In [42]:
#Arguments without default values are called positional arguments

def max_min(x, y):
    return max(x, y) - x

max_min(5, 2)

0

In [43]:
#Changing their position may affect the outcome

max_min(5, 2) == max_min(2, 5)

False

## Practice Set 2

In [5]:
#Define a function that returns the arithmetic mean of four numbers

def mean(a, b, c, d):
    return (a + b + c + d)/4

mean(4, -6, 5.5, 2)

1.375

In [6]:
#Define a function that prints "My age is x", when x is an argument

def my_age(age):
    return print("My age is", age)

my_age(27)

My age is 27

In [7]:
#What would the following code return?

def what(x):
    return sum(range(x, x + 2)) - x

what(4)

5

## Methods

In [92]:
string = "Hello Macro!"
string.replace("!", "?")

'Hello Macro?'

In [48]:
#String methods: upper()

string.upper()

'HELLO MACRO!'

In [49]:
#String methods: count()

string.count("l")

2

In [50]:
string.split(" ")

['Hello', 'Macro!']

## Lists

In [51]:
lst = ["Macroeconomics", 2.4, 2 > 1, ["A list inside a list!"], -7]

In [52]:
#Lists are zero-based, so the first element is indexed 0

lst[0]

'Macroeconomics'

In [53]:
lst[2]

True

In [54]:
#You can also access an element using negative indexing

lst[-1]

-7

In [55]:
lst[-3]

True

In [56]:
lst[-6]

IndexError: list index out of range

In [57]:
#You can also access multiple elements

lst[1:3]

[2.4, True]

In [58]:
lst[:4]

['Macroeconomics', 2.4, True, ['A list inside a list!']]

In [59]:
lst[2:]

[True, ['A list inside a list!'], -7]

In [60]:
lst[::2]

['Macroeconomics', True, -7]

In [61]:
lst[-5::2]

['Macroeconomics', True, -7]

In [62]:
#Using a negative step reverses the order

lst[::-1]

[-7, ['A list inside a list!'], True, 2.4, 'Macroeconomics']

In [63]:
lst[::-2]

[-7, True, 'Macroeconomics']

In [64]:
#Lists are mutable

lst[4] = 7
lst

['Macroeconomics', 2.4, True, ['A list inside a list!'], 7]

In [65]:
lst[:] = [1, 2, 4, 4, 2]
lst

[1, 2, 4, 4, 2]

In [66]:
#Useful list methods: count()

lst.count(4)

2

In [67]:
#Useful list methods: remove()

lst.remove(2)
lst

[1, 4, 4, 2]

In [68]:
#Useful list methods: append()

lst.append(2)
lst

[1, 4, 4, 2, 2]

In [69]:
#Useful list methods: sort()

lst.sort()
lst

[1, 2, 2, 4, 4]

In [70]:
#Useful list methods: clear()

lst.clear()
lst

[]

## Tuples

In [71]:
tple = ("Hi Again", (2, 3), ["a", "b", 12], type(5) == str, 42)

In [72]:
#Tuples and lists have the same indexing and slice notation

tple[0]

'Hi Again'

In [73]:
tple[2:5:2]

(['a', 'b', 12], 42)

In [74]:
#You can use double (or multiple) indexing

tple[2][2]

12

In [75]:
#Remember: tuples are immutable

tple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

## Dictionaries

In [77]:
dic = {"name": "David", "subject": "Macroeconomic Theory 2", "grade": 94}

In [78]:
#To access a given value, call its key

dic["name"]

'David'

In [80]:
#Dictionaries are mutable

dic["name"] = "Eden"
dic["name"]

'Eden'

In [81]:
#Useful dictionary methods: keys()

dic.keys()

dict_keys(['name', 'subject', 'grade'])

In [82]:
#Useful dictionary methods: values()

dic.values()

dict_values(['Eden', 'Macroeconomic Theory 2', 94])

In [83]:
#Useful dictionary methods: pop()

dic.pop("subject")
dic

{'name': 'Eden', 'grade': 94}

## Practice Set 3

In [3]:
#Define a function that capitalizes a given text

def cap(txt):
    return txt.capitalize()

cap("i am hungry!")

'I am hungry!'

In [9]:
#Define a function that returns the mean of a given list

def mean(lst):
    return sum(lst)/len(lst)
  
x = [4, 2, 7, 12, 9]
mean(x)

6.8

In [10]:
#Define a function that returns the mean of the values in a given dictionary

def mean_grades(dic):
    return sum(dic.values())/len(dic.values())

macro = {"A": 96, "B": 88, "C": 79, "D": 98, "E": 85}

mean_grades(macro)

89.2

In [88]:
#What would the following code return?

complex_dict = {"Alex": (3, 15, [2, 0, True], "?"), "Ben": {"A": 1, "B": [0, 4, 2]}, "Chloe": ()}
sum(complex_dict["Ben"]["B"][::-1])

In [1]:
#Write a code that applies the format(), upper() and split() methods

text1 = "My name is {} and I am {} years old.".format("Dan", 47)
text2 = " I am so happy to be here!".upper()

merged_text = text1 + text2
lst = merged_text.split(" ")

lst

['My',
 'name',
 'is',
 'Dan',
 'and',
 'I',
 'am',
 '47',
 'years',
 'old.',
 'I',
 'AM',
 'SO',
 'HAPPY',
 'TO',
 'BE',
 'HERE!']

## The "if" Statement

In [3]:
x, y = 4, 2

if x > y:
    print("x is greater than y!")
elif x == y:
    print("x is equal to y!")
else:
    print("x is less than y!")

x is greater than y!

In [4]:
#You can add multiple elif statements.

if x > 5:
    print("x is greater than 5.")
elif x == 5:
    print("x equals 5.")
elif  2 < x < 5:
    print("x is between 2 and 5.")
elif x == 2:
    print("x equals 2")
else:
    print("x is less than 2.")

x is between 2 and 5.

In [5]:
#Or have only a single if statement.

def check_start(txt):
    if txt.startswith("Winter"):
        print("Nothing burns like the cold.")

claim = "Summer is coming."
check_start(claim)

In [6]:
#As the last example indicates, functions may contain if statements.

def absolute(x):
    if x >= 0:
        return x
    else:
        return -x
    
absolute(-4)

4

In [7]:
#The "and" logical operator:

def ascend(a, b, c):
    if a < b and b < c:
        return "Ascending order"
    
ascend(2, 3, 5)

'Ascending order'

In [8]:
#The "or" logical operator:

def check_answer():
    answer = input("Do you agree that Pizza is way better than Sushi? Yes/No/Not sure")
    if answer.lower().capitalize() == "Yes" or answer.lower().capitalize() == "Not sure":
        return "So let's go east some pizza."
    else:
        return "OK bye then." 

check_answer()

Do you agree that Pizza is way better than Sushi? Yes/No/Not sure YES

"So let's go east some pizza."

In [9]:
#The "not" logical operator:

def compare(x, y):
    if not max(x, y) > min(x, y):
        print("x equals y")
    else:
        print(max(x, y), "is greater than", min(x, y))
    
compare(232, 1002)

1002 is greater than 232

## The "for" Loop

In [12]:
lst = []

for i in range(10):
    lst.append(2*i)
    
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
#"for" loops may contain "if" statements.

animals = ["dog", "cat", "cow", "fish"]

for animal in animals:
    if animal == "fish":
        print("The plural of" + " " + animal + " " + "is" + " " + animal)
    else:
        print("The plural of" + " " + animal + " " + "is" + " " + animal + "s")

The plural of dog is dogs
The plural of cat is cats
The plural of cow is cows
The plural of fish is fish

In [22]:
#Functions may contain "for" loops.

def divide_by_sum(lst):
    new_lst = []
    for i in lst:
        new_lst.append(i/sum(lst))
    lst = new_lst
    return lst
        
divide_by_sum([3, 5, 2])

[0.3, 0.5, 0.2]

In [23]:
#The zip function allows to pair items from different containers.

names = ["Alex", "Becky", "Corey"]
grades = [94, 88, 100]

for i, j in zip(names, grades):
    print(i, "got", j, "in the final exam.")

Alex got 94 in the final exam.
Becky got 88 in the final exam.
Corey got 100 in the final exam.

In [24]:
x = [1, 4, 8]
y = [2, 5, 2]
z = []

for i, j in zip(x, y):
    z.append(i + j)
    
z

[3, 9, 10]

## Practice Set 4

In [32]:
#Define a function that takes a list containing numbers (either floats or integers).
#The function then replaces each element with the same element minus the list's minimum.
#Finally, it prints the new list.

def sub_min(lst):
    lst = [i - min(lst) for i in lst]
    return lst

my_list = [4, 2, 5, 8, 4, 3, 9, 3, 1, 6]
sub_min(my_list)

[3, 1, 4, 7, 3, 2, 8, 2, 0, 5]

In [34]:
#Define a function that takes a list containing numbers (either floats or integers).
#The function then replaces an element with 1 if the element is greater than the list's average.
#Otherwise, the function replaces the element with -1.
#Finally, it prints the new list.

def replace_by_mean(lst):
    mean = sum(lst)/len(lst)
    lst = [1 if i > mean else -1 for i in lst]
    return lst

replace_by_mean(my_list)

[-1, -1, 1, 1, -1, -1, 1, -1, -1, 1]

In [35]:
#What would the following code return?

dic = {"One": 1, "Two": 2, "Three": 3}
new_dic = {}

for key, value in dic.items():
    new_dic[value] = key
    
new_dic

{1: 'One', 2: 'Two', 3: 'Three'}

In [36]:
#Create a list with five elements, where a_0 = 0 and a_{n+1} = 2a_n+1.

x = [0] * 5

for i in range(5):
    x[i] = 2*x[i-1] + 1
    
x

[1, 3, 7, 15, 31]